* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, yellow,orange);
    padding: 10px;
}

.todo {
    width: 100%;
    max-width: 540px;
    background: salmon;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo h2 {
    color: azure;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.todo h2 img {
    height: 60px;
    width: 60px;
    margin-left: 6px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: sandybrown;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
#task-box {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    background: transparent;
    font-size: 18px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: pink;
    color: black;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 900;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 2px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

ul li::before {
    content:  '';
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-position: center;
    top: 13px;
    left: 8px;
    background-size: cover;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}